$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

$colors: ($primary-cyan, $primary-red, $primary-orange, $primary-blue);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

$font: "Poppins", sans-serif;
$title-font-size: clamp(1.6rem, 4vw, 2rem);
$heading-font-size: clamp(1.2rem, 2.5vw, 1.4rem);
$dsc-font-size: clamp(1.1rem, 2vw, 1.2rem);

@mixin customFont($size: $dsc-font-size) {
  font-family: $font;
  font-size: $size;
  color: $very-dark-blue;
}

html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;

  @include customFont();
}

body {
  padding: 10vmin 0;
  text-align: center;
  background-color: $very-light-gray;
}
.heading {
  margin: 40px auto;
  max-width: 700px;

  h1 {
    @include customFont($title-font-size);

    font-weight: 200;

    .highlighted {
      font: inherit;

      font-weight: 600;
    }
  }
  .dsc {
    @include customFont($dsc-font-size);
    font-weight: 400;
    color: $grayish-blue;
  }
}

.card {
  background-color: white;

  text-align: left;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  position: relative;
  margin: 1em 0;
  width: 80vw;
  min-height: 250px;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  .title {
    @include customFont($heading-font-size);
    font-weight: 600;
  }
  .color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
  }

  .dsc {
    @include customFont($dsc-font-size);
    font-weight: 400;
    color: $grayish-blue;
  }

  img {
    width: 3.5em;
    float: right;
  }
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.sub {
    flex-direction: column;

    > .card {
      &:nth-child(1) {
        .color {
          background-color: $primary-red;
        }
      }
      &:nth-child(2) {
        .color {
          background-color: $primary-orange;
        }
      }
    }
  }

  &.super {
    > .card {
      &:nth-child(1) {
        .color {
          background-color: $primary-cyan;
        }
      }
      &:nth-child(3) {
        .color {
          background-color: $primary-blue;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .flex {
    flex-direction: row;
  }
  .card {
    margin: 1rem;

    width: 300px;
  }
}
@media only screen and (min-width: 1100px) {
  .card {
    margin: 1rem;
    min-height: 300px;
    width: 450px;
  }
}
